<header>
  <nav class="navbar navbar-dark bg-primary d-flex justify-content-center" align-items="center">
    <a class="navbar-brand mx-2" href="#">
      <strong> Employee Management System </strong>
    </a>
  </nav>
</header>

<section class="d-flex">
  <div class="bg-dark" style="width: 20%;  height: 505px; display: flex;">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a href="#login">Login</a>
      </li>
    </ul>
  </div>
  <div class="container flex-column" style="width: 80%; padding: 20px;">
    <router-outlet></router-outlet>
  </div>
</section>

<footer class="bg-primary" style="padding: 10px; text-align: right;">
  <p style="color: white;">Arvind Patkal</p>
</footer>
